
html
  head
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    title!= title
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
    script(src='//code.jquery.com/jquery-3.2.1.min.js')
    script(src='./public/ajax.js')

  body

    .container
      h1!= message
      .jumbotron
        h3 Choisissez une activité :

        a#banbut(class="btn btn-info") Banque
        a#assbut(class="btn btn-info") Assurance

    .container
      .jumbotron
        table#restable(class="table table-hover")
          thead
            tr
              th(scope="col") Prénom
              th(scope="col") Nom
              th(scope="col") Activité
              th(scope="col") Courriel
              th(scope="col") Téléphone
              th(scope="col") Date d'inscription
          tbody#tabody
