
html
  head
    title!= title
  body
    h1!= message

    form(action="/apiv1/", method="GET")

                div
                    label(for="activite") Activité:
                    br
                    select(name="activite" value="choisir dans la liste")
                      option(value=banque) banque
                      option(value=assurance) assurance
                br

                button(type="submit") Rechercher un profil
